* {
  margin: 0;
  padding: 0;
}
.App {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  display: inline-block;
}

.AppView {
  display: flex;
}
hr {
  opacity: 35%;
  margin: 12px auto;
}
